html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
}

body {
	background-color: #ffffff;
}

.page-header__intro {
	background: url('../img/intro.jpg') 50% 0 no-repeat;
	height: 512px;
	text-indent: -1000px;
	overflow: hidden;
}

.page-menu {
	position: relative;
}

.page-menu__list {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #81b3d2;
}

.page-menu__list li {
	display: block;
	margin: 0;
	padding: 7px 0;
	border: 0;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
}

.page-menu__list li:not(:last-child) {
	border-bottom: 1px solid #4991be;
}

.page-menu__list li:not(:first-child) {
	border-top: 1px solid #b9d5e6;
}

.page-menu__collapse-button {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url('../img/collapse-button.png') 50% 50% no-repeat;
	width: 55px;
	height: 55px;
	text-indent: -1000px;
	overflow: hidden;
}

.page-menu-panel {
	position: relative;
}

.page-menu-panel:after {
	content: ' ';
	display: table;
	clear: both;
}

.page-menu-panel__logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}

.page-menu-panel__expand-button {
	text-indent: -1000px;
	overflow: hidden;
	float: right;
	display: inline-block;
	background: url('../img/expand-button.png') 50% 50% no-repeat;
	width: 56px;
	height: 56px;
}

.page-content__header {
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.page-content__description {
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.info-header {
	background-color: #eeeeee;
}

.info-header.info-header--featured {
	background-color: #81b3d2;
}

.info-header__title {
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.info-header__counter {
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.info-header__description {
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.info-header.info-header--featured .info-header__title {
	color: #ffffff;
}

.info-header.info-header--featured .info-header__counter {
	color: #ffffff;
}

.info-header.info-header--featured .info-header__description {
	color: #ffffff;
}

.search__subheader-title {
	background-color: #766357;
}

.search-form-input {
	background-color: #f2f2f2;
}

.search-form-submit {
	background-color: #81b3d2;
}

