@font-size: 16px;
@font-family: 'PT Sans', sans-serif;
@text-color-normal: #000000;
@text-color-inverted: #ffffff;

@color-fill-background: #ffffff;
@color-fill-featured: #81b3d2;
@color-fill-normal: #eeeeee;
@color-fill-accent: #766357;
@color-fill-input: #f2f2f2;