.icon-text-becausecanyon { background-image: url('img/sprites/text-becausecanyon.png'); background-repeat: no-repeat; }

.icon-text-sedona { background-image: url('img/sprites/text-sedona.png'); background-repeat: no-repeat; }

.icon-text-tothegorgeous { background-image: url('img/sprites/text-tothegorgeous.png'); background-repeat: no-repeat; }

.icon-text-welcome { background-image: url('img/sprites/text-welcome.png'); background-repeat: no-repeat; }

