.hidden-text {
  text-indent: -10000px;
  overflow: hidden;
}

.clearfix {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.triangle-bottom (@height, @angle, @color) {
  .triangle-bottom-sized (100%, @height, @angle, @color);
}

.triangle-bottom-sized (@width, @height, @angle, @color) {
  position: relative;
  overflow: hidden;
  
  &:before,
  &:after {
    content: '';
    display: block;

    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -@width / 2;
    margin-bottom: -@height;
    
    width: @width;
    height: @height;

    background: @color;
  }
  
  &:before {
    transform: skewY(@angle);
  }
  
  &:after {
    transform: skewY(-@angle);
  }
}

.triangle-bottom-none () {
  &:before,
  &:after {
    display: none;
  }
}
