.page-header {
  position: relative;
}

.page-header__intro {
  background: url('../img/photo-background@1x.jpg') 50% 0 no-repeat;
  background-size: auto 512px;
  height: 390px;

  text-align: center;
  .triangle-bottom (100px, 10deg, @color-fill-background);
  
  z-index: 1;
}

svg.page-header__intro-text--welcome, .page-header__intro-text--welcome svg {
  fill: @color-fill-featured;
  height: 33px;
}

svg.page-header__intro-text--gorgeous, .page-header__intro-text--gorgeous svg {
  fill: @color-fill-accent;
  width: 196px;
}

svg.page-header__intro-text--sedona, .page-header__intro-text--sedona svg {
  fill: @color-fill-background;
  width: 280px;
  height: 48px;
}

svg.page-header__intro-text--grand-canyon, .page-header__intro-text--grand-canyon svg {
  fill: @color-fill-background;
  width: 197px;
  height: 54px;
}

.page-header__intro-text--welcome {
  margin-top: 47px;
  margin-bottom: 10px;
}

.page-header__intro-text--gorgeous {
  margin-bottom: 60px;
}

.page-header__intro-text--sedona {
  margin-bottom: 67px;
}

.page-header__intro-text--grand-canyon {
}

@media (min-width: @screen-sm-min) { 
  .page-header {
    .triangle-bottom (100px, 5deg, @color-fill-background);
    &:before,
    &:after {
     z-index: 2; 
    }
  }
  
  .page-header__intro {
    background-size: 100% auto;
    height: 512px; 
    .triangle-bottom-sized (450px, 100px, 10deg,  @color-fill-background);
  }
  
  svg.page-header__intro-text--welcome, .page-header__intro-text--welcome svg {
    height: 43px;
  }

  svg.page-header__intro-text--gorgeous, .page-header__intro-text--gorgeous svg {
    width: 256px;
  }

  svg.page-header__intro-text--sedona, .page-header__intro-text--sedona svg {
    width: 458px;
    height: 78px;
  }

  svg.page-header__intro-text--grand-canyon, .page-header__intro-text--grand-canyon svg {
    width: 295px;
    height: 80px;
  }
  
  .page-header__intro-text--welcome {
    margin-top: 76px;
    margin-bottom: 10px; 
  }

  .page-header__intro-text--gorgeous {
    margin-bottom: 52px;
  }

  .page-header__intro-text--sedona {
    margin-bottom: 56px;
  }
}

