@import "../variables.less";

.page-content__header {
  color: @text-color-normal;
  text-transform: uppercase;
  text-align: center;
}

.page-content__description {
  color: @text-color-normal;
  text-transform: uppercase;
  text-align: center;
}
