.search-form-input-panel {
  background-color: @color-fill-input;

  display: flex;
  box-sizing: border-box;
  
  border: none;
  padding: 0;
}

.search-form-input-panel__counter {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
  
  flex-shrink: 0;
    
  &:hover {
    background-color: @color-fill-input-hover;
  }
  
  &:active,
  &:focus {
    background-color: @color-fill-input-focused; 
  }
}

.search-form-input-panel__counter--decrease {  
  background: url('../img/icon-minus.svg') 50% 50% no-repeat;
  background-size: 11px 11px;
  opacity: 0.2;
}

.search-form-input-panel__counter--increase {
  background: url('../img/icon-plus.svg') 50% 50% no-repeat;
  background-size: 11px 11px;
  opacity: 0.2;
}
 
.search-form-input-panel__input-wrapper {
  display: inline-block;
  box-sizing: border-box;
}

@media (min-width: @screen-sm-min) { 
  .search-form-input-panel {
    flex-basis: 1px;
    flex-grow: 1;
  }
}