.search-form-input-panel {
  background-color: @color-fill-input;

  display: flex;
  box-sizing: border-box;
  
  border: none;
  padding: 0;
}

.search-form-input-panel__counter {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
  
  flex-shrink: 0;
}

.search-form-input-panel__counter--decrease {  
  background: url('../img/minus.png') 50% 50% no-repeat;
}

.search-form-input-panel__counter--increase {
  background: url('../img/plus.png') 50% 50% no-repeat;
}
 
.search-form-input-panel__input-wrapper {
  display: inline-block;
  box-sizing: border-box;
}

@media (min-width: @screen-sm-min) { 
  .search-form-input-panel {
    flex-basis: 1px;
    flex-grow: 1;
  }
}