@import (reference) "../variables.less";
@import (reference) "../components/mixins.less";

.social {
  text-align: center;
}

.social__button {
  display: inline-block;
  width: 46px;
  height: 48px;
  
  .hidden-text;
}

.social__button.social__button--twitter {
  background: url('../img/twitter.png') 50% 50% no-repeat; 
}

.social__button.social__button--facebook {
  background: url('../img/facebook.png') 50% 50% no-repeat; 
}

.social__button.social__button--youtube {
  background: url('../img/youtube.png') 50% 50% no-repeat; 
}
